<div class="popular-posts">
    {{#each boardData}}
        <div class="card text-center post-card">
            <div class="card-header">
                Featured
            </div>

            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">Post Count: {{this.post_count}}</p>
                <p class="card-text card-tags">
                    {{#each this.tags}}
                        {{this.tag_name}}
                        {{#unless @last}}+{{/unless}}
                    {{/each}}
                </p>
                <a href="/board/{{id}}" class="pure-button board-button visit-board">Visit Board</a>
            </div>

            <div class="card-footer text-body-secondary">
                {{format_date this.created_at}}
            </div>
        </div>
    {{/each}}
</div>

