<section class="post">
    <a href="/post/{{id}}">{{title}}</a>

    <div class="post-body">
        <img src="/images/{{filename}}" alt="{{description}}">
        <p>By: {{user}}</p>
    </div>
  </a>
</section>