{{!-- <section class="post">
    <div class="post-body">
        <img src="{{source}}" alt="{{description}}">
        <div class="post-overlay">
          <h2>{{title}}</h2>
          <p>By: {{user.user_name}}</p>
        </div>
    </div>
  </a>
</section> --}}

<a href="{{url}}">
<div class="card board-post">
  <div class="card-img-container">
    <img src="{{source}}" class="card-img" alt="{{description}}">
  </div>
  <div class="card-img-overlay">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{format_date created_at}}</p>
    <p class="card-text"><small>{{user.user_name}}</small></p>
  </div>
</div>
</a>