<a href="{{url}}">
<div class="card board-post">
  <div class="card-img-container">
    <img src="{{source}}" class="card-img" alt="{{description}}">
  </div>
  <div class="card-img-overlay">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{format_date created_at}}</p>
    <p class="card-text">{{user.user_name}}</p>
  </div>
</div>
</a>