{{!-- <section class="post">
    <div class="post-body">
        <img src="{{source}}" alt="{{description}}">
        <div class="post-overlay">
          <h2>{{title}}</h2>
          <p>By: {{user.user_name}}</p>
        </div>
    </div>
  </a>
</section> --}}

<div class="card text-bg-dark">
  <img src="{{source}}" class="card-img" alt="{{description}}">
  <div class="card-img-overlay">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{created_at}}</p>
    <p class="card-text"><small>{{user.user_name}}</small></p>
  </div>
</div>